#gallery_title {
    margin-top: 50px;
    text-align: center;
    font-size: 64px;
}

#gallery_content { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 50px;
}

.gallery_column {
   flex: 25%;
   max-width: calc(25% - 10px);
   padding-left: 4px;
   padding-right: 5px;
}

.gallery_image {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(45, 60, 80);
}

@media (max-width: 768px) {

    #gallery_title {
        margin-top: 100px;
        font-size: 48px;
    }

    .gallery_column {
        flex: 100%;
        max-width: calc(50% - 10px);
    }

}

@media (max-width: 450px) {

    .gallery_column {
        flex: 100%;
        max-width: calc(100% - 10px);
    }

}
