#home_hero {
    width: 100%;
    height: calc(100vh - 60px);
}

#home_logo {
    width: 750px;
    left: calc(50% - 330px);
    position: absolute;
}

#home_title {
    width: 750px;
    left: calc(50% - 330px);
    top: 275px;
    position: absolute;
}

.home_title_text {
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    text-shadow: black 0 0 50px;
}

.home_subtitle {
    margin-top: 40px;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
}

#home_image {
    width: 750px;
    height: 400px;
    margin-top: 15px;
    margin-left: calc(50% - 375px);
    background-color: white;
}

.home_information {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
}

#home_teams {
    margin-top: 0px;
}

.home_button {
    width: 300px;
    height: 35px;
    margin-left: calc(50% - 150px);
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(20, 30, 45);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(45, 60, 80);
    transition: 0.2s;
}

.home_button:hover {
    background-color: rgb(35, 35, 25);
    border-color: rgb(255, 255, 175);
    cursor: pointer;
}

#home_spacing {
    height: 125px;
}

@media (max-width: 768px) {

    #home_logo {
        width: 350px;
        left: calc(50% - 165px);
        top: calc(50vh - 175px);
    }

    #home_title {
        width: 100vw;
        left: 0;
        top: 275px;
    }

    #home_image {
        width: calc(100vw - 80px);
        height: auto;
        aspect-ratio: 1.75;
        margin-left: 40px;
    }

    .home_title_text {
        font-size: 64px;
        line-height: 64px;
    }

}