#navbar {
    width: 70px;
    height: 100vh;
    position: fixed;
    background-color: rgb(20, 30, 45);
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(45, 60, 80);
    z-index: 5;
}

#navbar_logo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
    
.navbar_item {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.2s;
}
    
.navbar_item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
}
    
.navbar_icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2.5px;
}

.navbar_indicator {
    position: absolute;
    height: 50px;
    width: 2px;
    left: 0px;
    border-radius: 1px;
    background-color: white;
    opacity: 0;
}
    
.navbar_selected {
    filter: invert(12%) sepia(84%) saturate(5160%) hue-rotate(0deg) brightness(75%) contrast(96%);
    opacity: 1;
}
    
.navbar_label {
    font-size: 9px;
    text-align: center;
}

#navbar_viking {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 10px;
}
    
#page {
    width: calc(100vw - 70px);
    margin-left: 70px;
}

#top_gradient { 
    width: calc((100vw - 70px) * 0.75);
    height: 500px;
    position: fixed;
    top: -250px;
    left: calc(70px + (100vw - 70px) * 0.125);
    background: radial-gradient(closest-side, rgba(210, 190, 100, 0.25), transparent);
}

#background {
    width: calc(100vw - 70px);
    height: 100vh;
    margin-left: 70px;
    position: fixed;
    background-image: url("./../images/dot.svg");
    background-size: 100px;
    animation: pan 10s linear infinite;
    z-index: -1;
}

#connect {
    width: 500px;
    height: 500px;
    background-color: rgb(20, 30, 45);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(45, 60, 80);
    position: fixed;
    left: calc(70px + (100vw - 70px - 500px) / 2);
    transition: 0.75s;
    z-index: -2;
}

.connect_down {
    bottom: -390px;
}

.connect_down:hover {
    bottom: -375px;
    cursor: pointer;
}

.connect_up {
    bottom: 55px;
}

#connect_header {
    margin-top: 16px;
    text-align: center;
}

.connect_divider {
    width: 460px;
    height: 1px;
    background-color: rgb(45, 60, 80);
    margin-left: 20px;
    margin-top: 10px;
}

#connect_subheader {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.form_input_prompt {
    font-size: 12px;
    line-height: 12px;
    margin-left: 30px;
    margin-top: 10px;
}

.form_input {
    width: 450px;
    margin-left: 25px;
    margin-top: 5px;
    padding: 5px;
    display: block;
    background-color:rgb(15, 20, 30);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(45, 60, 80);
}

#form_message {
    height: 100px;
}

#form_submit {
    width: 150px;
    height: 50px;
    margin-left: 175px;
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(15, 20, 30);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(45, 60, 80);
    transition: 0.2s;
}

#form_submit:hover {
    background-color: rgb(35, 35, 25);
    border-color: rgb(255, 255, 175);
    cursor: pointer;
}

#connect_section_divider {
    margin-top: 20px;
}

#connect_or {
    width: 40px;
    font-size: 14px;
    position: relative;
    left: 230px;
    bottom: 9px;
    background-color: rgb(20, 30, 45);
    color: rgb(45, 60, 80);
    text-align: center;
}

#instagram_button {
    width: 250px;
    height: 50px;
    margin-left: 125px;
    background-color: rgb(15, 20, 30);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(45, 60, 80);
    transition: 0.2s;
}

#instagram_button:hover {
    background-color: rgb(35, 35, 25);
    border-color: rgb(255, 255, 175);
}

#instagram_icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 22px;
    display: inline-block;
}

#instagram_text {
    display: inline-block;
    position: relative;
    bottom: 11px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
}
    
#footer {
    height: 60px;
    margin-left: 70px;
    position: fixed;
    bottom: 0;
}

#footer_separation {
    width: calc(100vw - 90px);
    margin-left: 10px;
    height: 2px;
    background-color: rgb(45, 60, 80);
}

#footer_sbhs {
    width: calc(100vw - 95px);
    position: absolute;
    left: 25px;
    margin-top: 10px;
    font-size: 24px;
    color: rgb(130, 140, 155);
    text-align: left;
}

#footer_sbcrew {
    width: calc(100vw - 95px);
    position: absolute;
    right: 15px;
    margin-top: 10px;
    font-size: 24px;
    color: rgb(130, 140, 155);
    text-align: right;
}

#footer_gradient {
    width: calc(100vw - 70px);
    height: 50px;
    position: absolute;
    bottom: 60px;
    background-image: linear-gradient(0deg, rgba(15, 20, 30, 1), rgba(15, 20, 30, 0));
    z-index: -3;
}

#footer_solid {
    width: calc(100vw - 70px);
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgb(15, 20, 30);
    z-index: -1;
}

@media (max-width: 768px) {

    #navbar {
        width: 100vw;
        height: 70px;
        border-right-style: none;
        border-bottom-style: solid;
    }

    #navbar_logo {
        margin-top: 10px;
        margin-left: 10px;
    }

    #navbar_items {
        display: inline-block;
        position: relative;
        margin-left: calc(50vw - 190px);
        bottom: 5px;
    }

    .navbar_item {
        margin-top: 10px;
        display: inline-block;
    }

    .navbar_indicator {
        height: 2px;
        width: 50px;
        top: 0;
        left: auto;
    }

    #navbar_viking {
        left: calc(100vw - 60px);
        bottom: 10px;   
    }

    #page {
        width: 100vw;
        margin-left: 0;
    }

    #top_gradient { 
        width: 100vw;
        height: 500px;
        top: -250px;
        left: 0;
    }

    #background {
        width: 100vw;
        margin-left: 0;
    }

    #connect {
        width: calc(100vw - 40px);
        left: 20px;
    }

    .connect_divider {
        width: calc(100% - 40px);
    }

    .form_input {
        width: calc(100% - 50px);
    }

    #form_submit {
        margin-left: calc(50% - 75px);
    }

    #instagram_button {
        margin-left: calc(50% - 125px);
    }

    #connect_or {
        left: calc(50% - 20px);
    }
    
    #footer {
        width: 100vw;
        margin-left: 0;
    }

    #footer_separation {
        width: calc(100vw - 20px);
    }

    #footer_sbhs {
        left: 15px;
        width: calc(100vw - 15px);
    }

    #footer_sbcrew {
        width: calc(100vw - 15px);
    }

    #footer_gradient {
        width: 100vw;
    }

    #footer_solid {
        width: 100vw;
    }

}

@keyframes pan {
    0% {
        top: 0;
    }

    100% {
        top: -100px;
    }
}